* {
  margin: 0;
  padding: 0;
}

a {
  color: #333;
  text-decoration: none;
}

html {
  width: 100%;
  height: 100%;
}

body {
background-color: #85B4CC; 
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}

h1 {
  width: 100%;
  text-align: center;
  padding: 40px 0;
}

.open {
  position: fixed;
  top: 50%px;
  right: 50%;
  width: 50%;
  height: 50%;
  display: block;
  cursor: pointer;
  transition: opacity 0.2s linear;
}

.open:hover { opacity: 0.8; }

.open span {
  display: block;
  float: left;
  clear: both;
  height: 10px;
  width: 50px;
  border-radius: 40px;
  background-color: #fff;
  position: absolute;
  right: 5px;
  top: 5px;
  overflow: hidden;
  transition: all 0.4s ease;
}

.open span:nth-child(1) {
  margin-top: 10px;
  z-index: 9;
}

.open span:nth-child(2) { margin-top: 25px; }

.open span:nth-child(3) { margin-top: 40px; }

.sub-menu {
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  height: 0;
  width: 0;
  right: 0;
  top: 0;
  position: absolute;
  background-color: rgba(38, 84, 133, 0.54);
  border-radius: 50%;
  z-index: 18;
  overflow: hidden;
}

.sub-menu li {
  display: block;
  float: right;
  clear: both;
  height: auto;
  margin-right: -160px;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.sub-menu li:first-child { margin-top: 180px; }

.sub-menu li:nth-child(1) { -webkit-transition-delay: 0.05s; }

.sub-menu li:nth-child(2) { -webkit-transition-delay: 0.10s; }

.sub-menu li:nth-child(3) { -webkit-transition-delay: 0.15s; }

.sub-menu li:nth-child(4) { -webkit-transition-delay: 0.20s; }

.sub-menu li:nth-child(5) { -webkit-transition-delay: 0.25s; }

.sub-menu li a {
  color: #fff;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-size: 16px;
  width: 100%;
  display: block;
  float: left;
  line-height: 40px;
}

.oppenned .sub-menu {
  opacity: 1;
  height: 400px;
  width: 400px;
}

.oppenned span:nth-child(2) { overflow: visible; }

.oppenned span:nth-child(1),
.oppenned span:nth-child(3) {
  z-index: 100;
  transform: rotate(45deg);
}

.oppenned span:nth-child(1) { transform: rotate(45deg) translateY(12px) translateX(12px); }

.oppenned span:nth-child(2) {
  height: 400px;
  width: 400px;
  right: -160px;
  top: -160px;
  border-radius: 50%;
  background-color: rgba(38, 84, 133, 0.54);
}

.oppenned span:nth-child(3) { transform: rotate(-45deg) translateY(-10px) translateX(10px); }

.oppenned li { margin-right: 168px; }
