
<!DOCTYPE html>

  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>
	

		
				<body>
			<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
        		<li><a href="/pyramids">Pyramids</a></li>
        		<li><a href="/JobChurnAnalysis">Job Churn Analysis</a></li>
        		<li><a href="/Wordcloud">Wordcloud</a></li>
        		<li><a href="/Retweet_Analysis">Retweet Analysis</a></li>
        		<li><a href="/Motion">Motion Chart</a></li>
        		<li><a href="/SentimentAnalysis">Sentiment Analysis</a></li>
    		</ul>
		</nav>
			<div class="container">
			
			{{ content }}
	 		</div><!-- /.blurb -->

		<footer>
    		<ul>
        		<li><a href="mailto:corkdataanalytics@gmail.com">email</a></li>
        	
			</ul>
		</footer>
	</body>		

	</html>
