
<!DOCTYPE html>

<html>

  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>

		
				<body>
			<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
        		<li><a href="/pyramids">Pyramids</a></li>
        		<li><a href="/JobChurnAnalysis">Job Churn Analysis</a></li>
        		<li><a href="/Wordcloud">Wordcloud</a></li>
        		<li><a href="/retweets">Retweet Analysis</a></li>
        		<li><a href="/Motion">Motion Chart</a></li>
        		<li><a href="/SentimentAnalysis">Sentiment Analysis</a></li>
    		</ul>
		</nav>
			<div class="container">
			
			{{ content }}
	 		</div><!-- /.blurb -->


	</body>		
		<footer>

<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'corkdataanalyticsgithubio';
    
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
		</footer>
	</html>
